@import "src/assets/variables";
.login-page{
    background-color: $landing-primary-color;
    .login-page-content{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
